@font-face {
    font-family: "Noto Sans KR", sans-serif;
    src: url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
}

@font-face {
    font-family: "LAB-digital";
    src: url("/public/font/LAB-digital.ttf");
}

body {
    margin: 0;
    font-family: "Noto Sans KR";
}

#root {
    width: 100%;
    height: 100vh;
}
